@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla&family=Oldenburg&display=swap");

body {
  margin: 0;
  font-family: "Oldenburg", "Karla", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(173, 216, 230);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-image: url(https://external-preview.redd.it/xpO07zTU8Xo_rcvE9-07tLgOsw3TPR2awJT5h9L1O2o.jpg?auto=webp&v=enabled&s=9780ac6d6d6953d100148d18ed0a3c75a5be4a58);
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
